#db {
	height:350px;
	width:780px;
	background-color:#f5f5f5;
	text-align:justify;
	text-transform:normal;
	float:center;
	border-width:10px;
	border-color:black;
	border-bottom-style:normal;